.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -ms-user-select: none;
   user-select: none;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate{
    font-size: 12px;
}

.postImg{
    width: 100%;
    height: 500px;
}

.postBottom{
  margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(165, 157, 157);
}

.postBottomLeft{
    display: flex;
    align-items: center;   
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.colPost{
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  font-size: 30px;
}

.colPost :hover{
  color: rgba(10, 118, 190, 0.918);
}

.likeBtn :active{
  background-color: rgb(226, 216, 68);
}

.comment-like{
  font-weight: 700;
  font-size: 11px;
}

.total-comment{
  cursor: pointer;
}
